awscli==1.11.76
boto3==1.4.4
Django==1.11
django-storages==1.5.2
django-webpack-loader==0.4.1
django-wysiwyg-redactor==0.5.1
Fabric3==1.13.1.post1
Jinja2==2.9.6
Pillow==4.1.1
python-slugify==1.2.4
psycopg2==2.7.1
requests==2.14.2