@neutral-form-color: papayawhip;
@active-form-color: #d5e5ff;
@font-family: "Gotham SSm", Helvetica, Arial, sans-serif;

body {
    margin: 0;
    padding: 0;
    font-family: @font-family;
}

#app {
    margin: 0 auto;
    max-width: 1280px;
}

nav {
    width: 100%;
    height: 35px;
    background-color: black;

    .container {
        display: flex;
        align-items: center;
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        height: 35px;
    }
    img {
        max-width: 50px;
        height: auto;
        padding-right: 8px;
    }

    span {
        color: white;
        text-transform: uppercase;
        vertical-align: middle;
        font-weight: bold;
        position: relative;
        top: -1px;
    }
}

.row {
    display: flex;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;

    &:last-child {
        border: none;
    }
}

.row-label {
    width: 33%;
}

.row-interaction {
    width: 67%;
    padding-left: 20px;
}

.title input {
    font-size: 18px;
    width: 100%;
    padding: 10px;
    font-family: @font-family;
}

.subtitle textarea {
    font-size: 14px;
    width: 100%;
    padding: 10px;
    font-family: @font-family;
}

.categories {
    display: flex;
    flex-flow: row wrap;
}

.category {
    width: 33%;
    padding: 0 10px 10px;

    &:last-child {
        border: none;
    }

    h2 { text-align: center; }

    label {
        display: inline;
        text-align: center;
        width: 100%;
        box-sizing: border-box;
        font-size: 12px;
        color: #99a1a7;


        a {
            position: absolute;
            right: 5px;
            text-decoration: none;
            font-size: 12px;
        }

        &:hover {
            cursor: pointer;
            background-color: @active-form-color;
        }
    }

    input {
        display: none;
    }

    input + label {
        background-color: @neutral-form-color;
        padding: 9px;
        border-radius: 3px;
        display: inline-block;
        position: relative;
    }

    input:checked + label {
        background-color: @active-form-color;
        color: black;
    }
}

.selection-list {
    // background-color: papayawhip;
    ol {
        list-style-position: inside;
        padding-left: 10px;
    }
}

.selection-list li, .sorting {
    background-color: @active-form-color;
    color: black;
    padding: 9px;
    border-radius: 3px;
    position: relative;
    margin-bottom: 10px;
    width: 50%;
    text-align: center;

    &:hover {
        cursor: move; /* fallback if grab cursor is unsupported */
        cursor: grab;
        cursor: -moz-grab;
        cursor: -webkit-grab;
    }

    &:active {
        cursor: grabbing;
        cursor: -moz-grabbing;
        cursor: -webkit-grabbing;
    }
}

.sorting {
    list-style-type: none !important;
}

iframe {
    width: 100%;
    height: 745px;
    border: none;
    margin: 0;
    padding: 0;
}

.embed-code-wrapper textarea {
    font-size: 12px;
    white-space: pre-wrap;
}
