<!DOCTYPE html>
{% load static %}
{% load render_bundle from webpack_loader %}
<html>
    <head>
        {% block title %}
        <title>{{ PROJECT_SLUG }}</title>
        {% endblock %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Demo project">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block extra_header %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        {% block js %}
        {% render_bundle 'main' %}
        {% endblock %}
        
        {% block extra_footer %}
        {% endblock %}
    </body>
</html>