<!DOCTYPE html>
{% load static %}
{% load render_bundle from webpack_loader %}
<html>
    <head>
        {% block title %}
        <title>{{ PROJECT_SLUG }}</title>
        {% endblock %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="description" content="Demo project">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://apps.npr.org/best-music-2016/js/lib/webfont.js"></script>
        <script>
            var urls = [
                'http://s.npr.org/templates/css/fonts/GothamSSm.css',
                'http://s.npr.org/templates/css/fonts/Gotham.css',
                'http://s.npr.org/templates/css/fonts/Knockout.css'
            ];
            if (window.location.protocol == "https:") {
                urls = [
                    'https://secure.npr.org/templates/css/fonts/GothamSSm.css',
                    'https://secure.npr.org/templates/css/fonts/Gotham.css',
                    'https://secure.npr.org/templates/css/fonts/Knockout.css'
                ];
            }
            WebFont.load({
                 custom: {
                     families: [
                         'Gotham SSm:n4,n7',
                         'Gotham:n4,n7',
                         'Knockout 31 4r:n4'
                     ],
                     urls: urls
                 },
                 timeout: 10000
            });
        </script>

        {% block extra_header %}
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}

        <script src="https://pym.nprapps.org/pym.v1.min.js"></script>

        {% block js %}
        {% render_bundle 'main' %}
        {% endblock %}
        
        {% block extra_footer %}
        {% endblock %}
    </body>
</html>