{% extends '_base.html' %}
{% load render_bundle from webpack_loader %}

{% block content %}

<nav role="navigation">
    <div class="container">
        <a href="http://npr.org"><img src="http://media.npr.org/chrome/news/nprlogo_138x46.gif" alt="NPR" /></a>
        <span>Cardbuilder Composer</span>
    </div>
</nav>

<div id="app"></div>

<script type="text/javascript">
    var DATA = {{ grouped_cards|safe }};
    var DEPLOYMENT_TARGET = '{{ DEPLOYMENT_TARGET }}'
</script>
{% endblock %}

{% block js %}
<script src="https://pym.nprapps.org/pym.v1.min.js"></script>
{% render_bundle 'main' %}
{% endblock %}
