{% extends '_base.html' %}

{% block extra_header %}
<style>
    .card {
        width: 50%;
        float: left;
        box-sizing: border-box;
        border: 1px solid #ccc;
    }
    .card img {
        width: 100%;
        height: auto;
        padding: 30px;
        box-sizing: border-box;
    }
</style>
{% endblock %}

{% block content %}
{% for card in cards %}
    <div class="card">
        <img src="https://s3.amazonaws.com/apps.npr.org/cardbuilder/screenshots/russian-explainer-{{ card.title|slugify }}-id-{{ card.id }}.png">
    </div>
{% endfor %}
{% endblock %}